<ion-content class="ion-padding" style="--background: var(--panel-cream);">
  <div class="flex-center" style="height: 100%; flex-direction: column; justify-content: space-around;">
    
    <div class="ion-text-center">
      <h1 class="brand-name olive-text" style="font-size: 3rem;">VANTAGE POINT</h1>
      <p class="black-text">{{ 'APP.SLOGAN' | translate }}</p>
    </div>

    <div class="image-placeholder shadow-subtle" style="width: 250px; height: 250px; background: white; border-radius: 50%; display: flex; align-items: center; justify-content: center;">
      <ion-icon name="trending-up-outline" class="olive-text" style="font-size: 100px;"></ion-icon>
    </div>

    <div style="width: 100%;">
<ion-button expand="block" routerLink="/login" class="olive-button">
  {{ 'AUTH.WELCOME.GET_STARTED' | translate }}
</ion-button>
    </div>

  </div>
</ion-content>